{% extends "main.html" %}

{% block title %}Home{% endblock %}

{% block header %}
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-1 col-md-10 col-md-offset-1" style="margin-top: 40%;">
                <div class="site-heading">
                    <h1>Goldi Kumar</h1>
                    <span class="description-label">( Senior Software Engineer @ Practo )</span>
                    <hr class="small">
                    <span class="subheading">Build your own dreams, or someone else will hire you to build theirs.</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

