{% extends "main.html" %}

{% block title %}Blog{% endblock %}

{% block nav %}

{% endblock %}

{% block content %}
<form role="form" method="POST">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="title" class="form-control" id="title" name="title">
    </div>
    <div class="form-group">
        <label for="content">Comment:</label>
        <textarea class="form-control" rows="5" id="content" name="content"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}
